<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

  <body>
    <div th:replace="layout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <h1>Spring MVC / Thymeleaf / Bootstrap11</h1>
        <p class="lead" th:text="${greeting}">(greeting)</p>
        <a th:if="${greeting=='Hello!'}" > eiled </a>
        <p>The local current time is <span th:text="${currentTime}">(time)</span></p>
      </div>
        
        <table class="table table-hover">
            <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="collect,iterStat : ${collects}"> 
            <th scope="row" th:text="${collect.id}">1</th>
            
              <td th:text="${collect.webLogo}">Mark</td>
            
            <td th:text="${collect.url}">Mark</td>
            <td th:text="${collect.title}">Otto</td>
            <td th:text="${collect.description}">@mdo</td>
            <td th:text="${iterStat.index}">index</td>
        </tr>
        </tbody>
        </table>
        <a href="details.html" th:href="@{/order/{orderId}/details(orderId=${greeting})}">view11</a>
        
        
    </div>
    
    <div th:include="layout :: footer" id="footer">(footer)11111</div>

  </body>
</html>
